@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    max-width: 100%;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, auto;
    color: rgb(248, 255, 49);
    text-decoration-thickness: initial;
    text-decoration-style: initial;
}

h2{
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 186, 58);
    font-kerning: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial; 
}

h5,h3,h4,h6{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-kerning: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;

}
a{
    color:rgb(0, 162, 255);
}

#Proyectos img{
    border: 2px solid white;
    border-radius: 15%;
    border-width: 10px;
}
.iframe{
    padding: 10px !important;
    background-color:rgb(32, 32, 32)!important; 
    color:rgb(167, 255, 239) !important;
    border: 2px solid white;
    border-radius: 15%;
    border-width: 10px;
    width: 70%;
    min-width: 140px;
    max-width: 750px;
    height: auto;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#login{
    
    font-family: Arial !important;
    font-style: normal !important;
}

nav button{
    background: none;
    border: 0cm;

}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color:rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: white;
}
footer{
    font-family: Sofia Sans Variable,sans-serif;
    color-scheme: light dark;
    font-size: clamp(.625rem,.47rem + .829vw,1rem);
    --bg-color: #10151d;
    --white-color: #f2f6fa;
    --light-gray: #bfc1c9;
    --main-color: #a87ffb;
    --gray-border: #2e3c51;
    --link-color: #a87ffbcc;
    box-sizing: inherit;
    color: #fff;
    padding: 0 4rem;
    background-color: #161f2c;
    border-top: 1px solid var(--gray-border);
    width: 100%;
}

input::placeholder {
    color: #f2f6fa;
    
}
.myLargeTextArea {
    width: 100%; 
    height: 200px; 
    font-size: 16px; 
    padding: 10px;
    resize: vertical; 
}

@media (max-width: 768px) {
  * {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.card-holder {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5em;
	place-content: center;
}

.carousel-item{
	width: 100%;
	height: 400px;
    overflow: hidden;
}

.carousel-item img{
	width: 100%;
	height: 100%;
    object-fit: cover;
}
#allNav{
    position: sticky !important;
    top: 0 !important;
    z-index: 10;
    
}


