@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: Sofia Sans Variable,sans-serif;
    color-scheme: light dark;
    font-size: clamp(.625rem,.47rem + .829vw,1rem);
    box-sizing: inherit;
    --bg-color: #10151d;
    --white-color: #f2f6fa;
    --light-gray: #bfc1c9;
    --main-color: #a87ffb;
    --gray-border: #2e3c51;
    --link-color: #a87ffbcc;
    background-color: var(--bg-color);
    color: var(--white-color);
    margin: 0;
}
h1{
    font-family: "Archivo Black", sans-serif !important;
}
#login{
    
    font-family: Arial !important;
    font-style: normal !important;
}

nav button{
    background: none;
    border: 0cm;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color:rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: white;
}
footer{
    font-family: Sofia Sans Variable,sans-serif;
    color-scheme: light dark;
    font-size: clamp(.625rem,.47rem + .829vw,1rem);
    --bg-color: #10151d;
    --white-color: #f2f6fa;
    --light-gray: #bfc1c9;
    --main-color: #a87ffb;
    --gray-border: #2e3c51;
    --link-color: #a87ffbcc;
    box-sizing: inherit;
    color: #fff;
    padding: 0 4rem;
    background-color: #161f2c;
    border-top: 1px solid var(--gray-border);
    width: 100%;
}

footer .form-control{
    background-color: #161f2c;
    border-color: #f2f6fa;
    
}
input::placeholder {
    color: #f2f6fa;
    
}
.myLargeTextArea {
    width: 100%; 
    height: 200px; 
    font-size: 16px; 
    padding: 10px;
    resize: vertical; 
}


.card-holder {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5em;
	place-content: center;
}

.card {
	position: relative;
	width:min-content;
	aspect-ratio: 1 / 1;
    background-color: #142944;
    color: #f2f6fa;
	&:hover,
	&:focus {
		outline: none;

		.card-details {
			box-shadow: 1px 1px 10px inset var(--glow);
			outline-color: var(--glow);
		}

		.card-design {
			opacity: 1;
		}

		#jellyfish1,
		#jellyfish2,
		#jellyfish3 {
			animation-play-state: running;
		}

		#firefly1,
		#firefly2,
		#firefly3,
		#firefly4 {
			animation-play-state: running;
			opacity: 1;
			stroke: var(--glow);
		}
	}

	.card-details {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: 100%;
		background-color: var(--color-dark-25);
		background-image: var(--texture-noise);
		color: var(--color-light);
		padding: 1em;
		border-radius: 0.5em;
		box-shadow: 1px 1px 5px inset var(--color-light-50);
		backdrop-filter: blur(20px);

		will-change: box-shadow, outline-color;
		transition: box-shadow 0.5s ease-in-out, outline-color 0.5s ease-in-out;

		z-index: 1;

		p:first-of-type {
			margin-top: 1em;
		}

		p {
			margin-top: 0.5em;
		}
	}

	.card-design {
		pointer-events: none;
		position: absolute;
		top: -160px;
		left: -160px;
		opacity: 0;
		will-change: opacity;
		transition: opacity 0.5s ease-in;
		overflow: visible;

		svg {
			fill: var(--glow);
		}
	}
}
