{% extends "./base.html" %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

  

<div id="carouselExampleIndicators" data-bs-ride="carousel" class="carousel slide">
  <div class="carousel-indicators">
    {% if len_carrucel>0 %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    {% endif %}
    {% for i in range(1,len_carrucel) %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}" aria-label="Slide {{i+1}}"></button>
    {% endfor %}
</div>
  <div class="carousel-inner" style="text-align: center;">
    {% if len_carrucel>0 %}
    <div class="carousel-item active">
      <a href="/#{{Proyectos[0].titulo}}"><img src="data:{{ Proyectos.0.tipo }};base64,{{ pixel_proyecto.0}}" class="d-block w-100" alt="...">
        </a>
      </div>
    {% endif %}
    {% for i in range(1,len_carrucel) %}
    <div class="carousel-item" style="text-align: center;">
      <a href="/#{{Proyectos[i].titulo}}"><img src="data:{{ Proyectos[i].tipo }};base64,{{ pixel_proyecto[i] }}" class="d-block w-100" alt="...">
    </a>
      </div>
    {% endfor %}
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<h1>Portfolio FP</h1>

<center>
{% if current_user.email and Len==0 %}
<form method="POST" action="/Info/agregar" enctype="multipart/form-data">
    
    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>
    
    <input type="text" name="tel" placeholder="tel"><br>
    <input type="text" name="mail" placeholder="mail"><br>
    <input type="text" name="dir" placeholder="dir"><br>
    <textarea class="myLargeTextArea" name="sobre_mi" rows="10" cols="50" placeholder="sobre mi..."></textarea>
   <button type="submit">Agregar</button>
</form>
{% elif current_user.email %}
<form method="post" action="/Info/editar" enctype="multipart/form-data">
    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>

        <img src="data:{{ Info.0.tipo }};base64,{{ pixel }}"
        style="width:15%; height:15%; object-fit:cover; margin:5px; border-radius: 50%;">


        <br>
    <h6>Telefono:<input type="text" name="tel" value="{{Info.0.tel}}" placeholder="tel" required></h6>
    <h6>Mail:<input name="mail" type="text" value="{{Info.0.mail}}" placeholder="mail" required></h6>
    <h6>dir:<input name="dir" type="text" value="{{Info.0.dir}}" placeholder="dir" required></h6>
    <br>
    <br>
    <textarea class="myLargeTextArea"   name="sobre_mi" rows="10" cols="50" placeholder="sobre mi...">{{Info.0.sobre_mi}}</textarea>
    <br>
    <button type="submit">editar</button>

</form>
{% elif Len!=0 %}
    
                    <img src="data:{{ Info.0.tipo }};base64,{{ pixel }}"
                    style="width:25%; height:25%; object-fit:cover; margin:5px; border-radius: 50%;">

                    <h6><img src="/static/images/phone_icon.png" style="height: 20px;width: 20px;" alt=""> {{Info.0.tel}}</h6>
                    <h6><img src="/static/images/mail_icon.png" style="height: 20px;width: 20px;" alt=""> {{Info.0.mail}}</h6>
                    <h6><img src="/static/images/map_icon.webp" style="height: 15px;width: 10px;" alt=""> {{Info.0.dir}}</h6>
                    <br>
                    <br>
                    
                    <h5>{{Info.0.sobre_mi}}</h5>
                    <br>
                    <br>
                    
{% endif %}
<div id="Proyectos">
<br>
<br>
<br>
<h1>Proyectos</h1>

  {% if current_user.email %}
                  {% for proyecto in Proyectos %}
                  <div id="{{proyecto.titulo }}" style="display: flex;">
                  <br>
                    <form method="POST" action="/Proyecto/editar/{{proyecto.id}}" enctype="multipart/form-data">
                    <input type="text" name="titulo" placeholder="titulo" value="{{proyecto.titulo}}"><br>
                    <div style="display: flex;">
                    <textarea class="myLargeTextArea" name="descripcion" rows="10" cols="50" placeholder="descripcion">{{proyecto.descripcion}}</textarea>
                    <div>
                    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>
                    <img src="data:{{ proyecto.tipo }};base64,{{ pixel_proyecto[Proyectos.index(proyecto)] }}"
                    style="width:75%; height:75%;">
                    </div>
                    </div>
                    <input type="text" name="link" placeholder="link" value="{{proyecto.link}}"><br>
                <button type="submit">editar</button>
                  </form>
                  <a  style="margin-top: 10%;" href="/Proyecto/delete/{{proyecto.id}}"><img src="/static/images/delete_icon.png" style="height: 20px;width: 20px;"></a>

                  </div>

                  <br>
                  <br>
                  {% endfor %}
                <form method="POST" action="/Proyecto/agregar" enctype="multipart/form-data">
                    <input type="text" name="titulo" placeholder="titulo" ><br>
                    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>
                    <textarea class="myLargeTextArea" name="descripcion" rows="10" cols="50" placeholder="descripcion"></textarea>
                    <input type="text" name="link" placeholder="link"><br>

                    <button type="submit">Agregar</button>
                </form>
<br>
{% else %}
                  {% for proyecto in Proyectos %}
<div id="{{proyecto.titulo }}">
    <br>
    <h2>{{proyecto.titulo}}</h2>
    <div style="display: flex; gap:25%; margin-left: 15%;">
        <h5 style="width: 40%; 
                   word-wrap: break-word; 
                   overflow-wrap: break-word; 
                   white-space: normal;"> 
            {{proyecto.descripcion}}
        </h5>
        
        <img src="data:{{ proyecto.tipo }};base64,{{ pixel_proyecto[Proyectos.index(proyecto)] }}"
             style="width:33%; height:33%;">
    </div>
    <a href="{{proyecto.link}}" target="_blank">{{proyecto.link}}</a>
    <br>
    <br>
</div>
                  {% endfor %}
{% endif %}
</div>
<div id="Experiencias">
<br>
<br>
<br>
<h1>Experiencias</h1>

  {% if current_user.email %}
                  {% for Experiencia in Experiencias %}
                  <br>
                  <div id="{{Experiencia.exp}}">
                    <form method="POST" action="/Experiencia/editar/{{Experiencia.id}}" enctype="multipart/form-data">
                    <textarea class="myLargeTextArea" name="Experiencia" rows="10" cols="50" placeholder="Experiencia">{{Experiencia.exp}}</textarea>
                    <button type="submit">editar</button>
                  </form>
                  </div>

                  <a  style="margin-top: 10%;" href="/Experiencia/delete/{{Experiencia.id}}"><img src="/static/images/delete_icon.png" style="height: 20px;width: 20px;"></a>
                  </div>

                  <br>
                  <br>
                  {% endfor %}
                  <form method="POST" action="/Experiencia/agregar" enctype="multipart/form-data">
                    <textarea class="myLargeTextArea" name="Experiencia" rows="10" cols="50" placeholder="Experiencia"></textarea>
                    <button type="submit">agregar</button>
                  </form>
<br>
{% else %}
                  {% for Experiencia in Experiencias %}
<ul style="max-width: 75%;   
           word-wrap: break-word; 
           overflow-wrap: break-word; 
           white-space: normal;">
    <br>
    <li>
<h5>{{Experiencia.exp}}</h5>
    </li>
    
    <br>
    <br>
</ul>
                  {% endfor %}
{% endif %}
</div>
</div>
<div id="Educacion">
<br>
<br>
<br>
<h1>Educacion</h1>

  {% if current_user.email %}
                  {% for Educacion in Educaciones %}
                  <br>
                  <div id="{{Educacion.edu}}">
                    <form method="POST" action="/Educacion/editar/{{Educacion.id}}" enctype="multipart/form-data">
                    <textarea class="myLargeTextArea" name="Educacion" rows="10" cols="50" placeholder="Educacion">{{Educacion.edu}}</textarea>
                    <button type="submit">editar</button>
                  </form>
                  </div>

                  <a  style="margin-top: 10%;" href="/Educacion/delete/{{Experiencia.id}}"><img src="/static/images/delete_icon.png" style="height: 20px;width: 20px;"></a>
                  </div>

                  <br>
                  <br>
                  {% endfor %}
                  <form method="POST" action="/Educacion/agregar" enctype="multipart/form-data">
                    <textarea class="myLargeTextArea" name="Educacion" rows="10" cols="50" placeholder="Educacion"></textarea>
                    <button type="submit">agregar</button>
                  </form>
<br>
{% else %}
                  {% for Educacion in Educaciones %}
<ul style="max-width: 75%;   
           word-wrap: break-word; 
           overflow-wrap: break-word; 
           white-space: normal;">
    <br>
    <li>
<h5>{{Educacion.edu}}</h5>
    </li>
    
    <br>
    <br>
</ul>
                  {% endfor %}
{% endif %}
</div>
</center>



{% endblock %}