{% extends "./base.html" %}

{% block body %}
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    {% if len_carrucel>0 %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    {% endif %}
    {% for i in range(len_carrucel) %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}" aria-label="Slide {{i+1}}"></button>
    {% endfor %}
</div>
  <div class="carousel-inner">
    {% if len_carrucel>0 %}
    <div class="carousel-item active">
     <a style="z-index: 10;" href="/cell/delete/{{0}}">

        <img src="data:{{ carrusel.0.tipo }};base64,{{ pixeles_cell.0 }}" class="d-block w-100" alt="...">
    </div>
    {% endif %}
    {% for i in range(1,len_carrucel) %}
    <div class="carousel-item">
        <a href="/cell/delete/{{carrusel.id}}">
      <img src="data:{{ carrusel[i].tipo }};base64,{{ pixeles_cell[i] }}" class="d-block w-100" alt="...">
      </div>
    {% endfor %}
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<img src="/static/images/delete_icon.png" style="height: 20px;width: 20px;"></a>
{% if current_user.email %}
<form method="POST" action="/carrusel/agregar" enctype="multipart/form-data">
    
    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>
    
|   <button type="submit">Agregar</button>
</form>
{% endif %}
<h1>Portfolio FP</h1>

<center>
{% if current_user.email and Len==0 %}
<form method="POST" action="/Info/agregar" enctype="multipart/form-data">
    
    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>
    
    <input type="text" name="tel" placeholder="tel"><br>
    <input type="text" name="mail" placeholder="mail"><br>
    <input type="text" name="dir" placeholder="dir"><br>
    <textarea class="myLargeTextArea" name="sobre_mi" rows="10" cols="50" placeholder="sobre mi..."></textarea>
   <button type="submit">Agregar</button>
</form>
{% elif current_user.email %}
<form method="post" action="/Info/editar" enctype="multipart/form-data">
    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>

        <img src="data:{{ Info.0.tipo }};base64,{{ pixel }}"
        style="width:15%; height:15%; object-fit:cover; margin:5px; border-radius: 50%;">


        <br>
    <h6>Telefono:<input type="text" name="tel" value="{{Info.0.tel}}" placeholder="tel" required></h6>
    <h6>Mail:<input name="mail" type="text" value="{{Info.0.mail}}" placeholder="mail" required></h6>
    <h6>dir:<input name="dir" type="text" value="{{Info.0.dir}}" placeholder="dir" required></h6>
    <br>
    <br>
    <textarea class="myLargeTextArea"   name="sobre_mi" rows="10" cols="50" placeholder="sobre mi...">{{Info.0.sobre_mi}}</textarea>
    <br>
    <button type="submit">editar</button>

</form>
{% elif Len!=0 %}
    
                    <img src="data:{{ Info.0.tipo }};base64,{{ pixel }}"
                    style="width:25%; height:25%; object-fit:cover; margin:5px; border-radius: 50%;">
                    <div style="text-decoration:underline;">
                    <h6>Telefono: {{Info.0.tel}}</h6>
                    <h6>Mail: {{Info.0.mail}}</h6>
                    <h6>Direccion: {{Info.0.dir}}</h6>
                    </div>

                    <h5>{{Info.0.sobre_mi}}</h5>



{% endif %}
</center>



{% endblock %}