{% extends "./base.html" %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  

<div id="carouselExampleIndicators" data-bs-ride="carousel" class="carousel slide" style="margin: 0% !important;">
  <div class="carousel-indicators">
    {% if len_carrucel>0 %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    {% endif %}
    {% for i in range(1,len_carrucel) %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}" aria-label="Slide {{i+1}}"></button>
    {% endfor %}
</div>
  <div class="carousel-inner" style="text-align: center;">
    {% if len_carrucel>0 %}
    <div class="carousel-item active">
      <a href="/#{{Proyectos[0].titulo}}"><img src="data:{{ Proyectos.0.tipo }};base64,{{ pixel_proyecto.0}}" class="d-block w-100" alt="...">
        </a>
      </div>
    {% endif %}
    {% for i in range(1,len_carrucel) %}
    <div class="carousel-item" style="text-align: center;">
      <a href="/#{{Proyectos[i].titulo}}"><img src="data:{{ Proyectos[i].tipo }};base64,{{ pixel_proyecto[i] }}" class="d-block w-100" alt="...">
    </a>
      </div>
    {% endfor %}
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<center>
  <h1 style="font-size: 120px !important;">Portfolio FP</h1>
<div style="margin: 5%;">

  
{% if current_user.email and Len==0 %}
<form method="POST" action="/Info/agregar" enctype="multipart/form-data">
    
    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>
    
     <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
      <input type="text" name="tel" placeholder="tel" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
     <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Mail</span>
      <input type="text" name="mail" placeholder="mail" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
     <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Direccion</span>
      <input type="text" name="dir" placeholder="tel" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
    <textarea class="myLargeTextArea" name="sobre_mi" rows="10" cols="50" placeholder="sobre mi..."></textarea>
   <button type="submit">Agregar</button>
</form>
{% elif current_user.email %}
<form method="post" action="/Info/editar" enctype="multipart/form-data">

  <div style="display: flex; margin-left: 20%; margin-right: 20%;" >
<div>    
  <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>

    <img src="data:{{ Info.0.tipo }};base64,{{ pixel }}" style="width:300px; height:300px; object-fit:cover; margin:5px; border: white,solid; border-width: 5px; border-radius: 50%;">
   </div>                 
<div style="margin: 5%;">
     <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
      <input type="text" name="tel" placeholder="tel" value="{{Info.0.tel}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
     <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Mail</span>
      <input type="text" name="mail" placeholder="mail" value="{{Info.0.mail}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
     <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Dirreccion</span>
      <input type="text" name="dir" placeholder="dir" value="{{Info.0.dir}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
  </div>
</div>


    <br>
    <br>
    <textarea class="myLargeTextArea"   name="sobre_mi" rows="10" cols="50" placeholder="sobre mi...">{{Info.0.sobre_mi}}</textarea>
    <br>
    <button type="submit">editar</button>

</form>
{% elif Len!=0 %}
    <div>
      <div style="display: flex; padding-left: 25%;">
                    <img src="data:{{ Info.0.tipo }};base64,{{ pixel }}"
                    style="width:300px; height:300px; object-fit:cover; margin:5px; border: white,solid; border-width: 5px; border-radius: 50%;">
                    <div>
                    <h1>Franco Pedrazzi</h1>
                    <h4><img src="/static/images/phone_icon.png" style="height: 20px;width: 20px;" alt=""> {{Info.0.tel}}</h4>
                    <h4><img src="/static/images/mail_icon.png" style="height: 20px;width: 20px;" alt=""> {{Info.0.mail}}</h4>
                    <h4><img src="/static/images/map_icon.webp" style="height: 15px;width: 10px;" alt=""> {{Info.0.dir}}</h4>
                    
                    </div>
                    </div>
                    <br>
                    <br>
                    
                    <h3>{{Info.0.sobre_mi}}</h3>
                    <br>
                    <br>
    </div>
                    
{% endif %}

<iframe src="https://ghchart.rshah.org/Franco-Pedrazzi" class="iframe" title="description"></iframe>

<div id="Proyectos">
<br>
<br>
<br>
<h1>Proyectos</h1>

  {% if current_user.email %}
                  {% for proyecto in Proyectos %}
                  <div id="{{proyecto.titulo }}" style="display: flex; padding-left: 15%;">
                  <br>
                    <form method="POST" action="/Proyecto/editar/{{proyecto.id}}" enctype="multipart/form-data">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
                    <input type="text"name="titulo" placeholder="titulo" value="{{proyecto.titulo}}"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                    <br>
                    <div style="display: flex; gap: 5%;">
                    <textarea class="myLargeTextArea  is-info" name="descripcion" rows="10" cols="100"  placeholder="descripcion">{{proyecto.descripcion}}</textarea>
                    <div>
                    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>
                    <img src="data:{{ proyecto.tipo }};base64,{{ pixel_proyecto[Proyectos.index(proyecto)] }}"
                    style="width:100%; height:100%;">
                    </div>
                    
                    </div>
                    <br>
                    <br>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Link</span>
                    <input type="text" name="link" placeholder="link" value="{{proyecto.link}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                   <br>
                <button type="submit">editar</button>
                  </form>
                  <a  style="margin-top: 10%; margin-left: 3%;" href="/Proyecto/delete/{{proyecto.id}}"><img src="/static/images/delete_icon.png" style="height: 20px;width: 20px;"></a>

                  </div>

                  <br>
                  <br>
                  {% endfor %}
                <form method="POST" action="/Proyecto/agregar" enctype="multipart/form-data">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
                    <input type="text" name="titulo" placeholder="titulo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                    <br>
                    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>
                    <textarea class="myLargeTextArea" name="descripcion" rows="10" cols="50" placeholder="descripcion"></textarea>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Link</span>
                    <input type="text" name="link" placeholder="link" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>

                    <button type="submit">Agregar</button>
                </form>
<br>
{% else %}
                  {% for proyecto in Proyectos %}
<div id="{{proyecto.titulo }}">
    <br>
    <h2>{{proyecto.titulo}}</h2>
    <div style="display: flex; gap:25%; margin-left: 15%;">
        <h3 style="width: 40%; 
                   word-wrap: break-word; 
                   overflow-wrap: break-word; 
                   white-space: normal;"> 
            {{proyecto.descripcion}}
        </h3>
        
        <img src="data:{{ proyecto.tipo }};base64,{{ pixel_proyecto[Proyectos.index(proyecto)] }}"
             style="width:33%; height:33%;">
    </div>
    <a href="{{proyecto.link}}" target="_blank">{{proyecto.link}}</a>
    <br>
    <br>
</div>
                  {% endfor %}
{% endif %}
</div>
<div id="Experiencias">
<br>
<br>
<br>
<h1>Experiencias</h1>

  {% if current_user.email %}
                  {% for Experiencia in Experiencias %}
                  <br>
                  <div id="{{Experiencia.exp}}">
                    <form method="POST" action="/Experiencia/editar/{{Experiencia.id}}" enctype="multipart/form-data">
                    <textarea class="myLargeTextArea" name="Experiencia" rows="10" cols="50" placeholder="Experiencia">{{Experiencia.exp}}</textarea>
                    <button type="submit">editar</button>
                  </form>
                  </div>

                  <a  style="margin-top: 10%;" href="/Experiencia/delete/{{Experiencia.id}}"><img src="/static/images/delete_icon.png" style="height: 20px;width: 20px;"></a>

                  <br>
                  <br>
                  {% endfor %}
                  <form method="POST" action="/Experiencia/agregar" enctype="multipart/form-data">
                    <textarea class="myLargeTextArea" name="Experiencia" rows="10" cols="50" placeholder="Experiencia"></textarea>
                    <button type="submit">agregar</button>
                  </form>
<br>
{% else %}
                  {% for Experiencia in Experiencias %}
<ul style="max-width: 75%;   
           word-wrap: break-word; 
           overflow-wrap: break-word; 
           white-space: normal;">
    <br>
    <li>
<h3>{{Experiencia.exp}}</h3>
    </li>
    
    <br>
    <br>
</ul>
                  {% endfor %}
{% endif %}
</div>
<div id="Estudios&Habilidades">
<br>
<br>
<br>
<h1>Educacion / Habilidades</h1>

  {% if current_user.email %}
                  {% for Educacion in Educaciones %}
                  <br>
                  <div id="{{Educacion.edu}}">
                    <form method="POST" action="/Educacion/editar/{{Educacion.id}}" enctype="multipart/form-data">
                    <textarea class="myLargeTextArea" name="Educacion" rows="10" cols="50" placeholder="Educacion">{{Educacion.edu}}</textarea>
                    <button type="submit">editar</button>
                  </form>
                  </div>

                  <a  style="margin-top: 10%;" href="/Educacion/delete/{{Educacion.id}}"><img src="/static/images/delete_icon.png" style="height: 20px;width: 20px;"></a>
                  

                  <br>
                  <br>
                  {% endfor %}
                  <form method="POST" action="/Educacion/agregar" enctype="multipart/form-data">
                    <textarea class="myLargeTextArea" name="Educacion" rows="10" cols="50" placeholder="Educacion"></textarea>
                    <button type="submit">agregar</button>
                  </form>
<br>
{% else %}
                  {% for Educacion in Educaciones %}
<ul style="max-width: 75%;   
           word-wrap: break-word; 
           overflow-wrap: break-word; 
           white-space: normal;">
    <br>
    <li>
<h3>{{Educacion.edu}}</h3>
    </li>
    
    <br>
    <br>
</ul>
                  {% endfor %}
{% endif %}
</div>

</div>
</center>

{% endblock %}